{% extends "blog/base.html" %}

{% block title %}О проекте{% endblock %}

{% block content %}

<div class="content content-header">
    <p class="content-header-item">Коллективный блог</p>
</div>

<div class="content height-600 content-inner">
    <div class="post">
        <div class="content-inner">
            <p>Коллективный блог - это десятки сообществ по интересам, где люди могут обмениватся информацией, проводить досуг или обсуждать актуальные новости и события.
               Благодаря системам рейтингов, на которые имеет влияние любой авторизованный пользователь, и фильтрации, которую индивидуально может настроить каждый, вам предлагается только качественый контент.
            </p>
        </div>
    </div>
</div>

{% endblock %}
