{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="content content-header">
    <p class="content-header-item">Collective blog</p>
</div>

<div class="content height-600 content-inner">
    <div class="post">
        <div class="content-inner">
            <p>
               Collective blog is a great number of communities of interest where people can exchange information, spend their leisure time or discuss the latest news and events.
            </p>
            <br /><hr /><br />
            <h1>Contact info</h1>
            <p class="nointerest">
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
            </p>
            <br /><hr /><br />
            <h1>Partners</h1>
            <p class="nointerest">
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
                ----------------------------------------------------------------------------<br />
            </p>
        </div>
    </div>
</div>

{% endblock %}
