{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=1024" name="viewport">
    <meta name="description" content="Collective blog">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="author" href="/humans.txt" />
</head>

<body>
    <div>
        <nav class="content" role="navigation">
            <ul class="content-header">
                <li class="content-header-item {% if navigation == 'posts' %}active{% endif %}"><a href="/posts/hot/">Посты</a></li>
                <li class="content-header-item {% if navigation == 'blogs' %}active{% endif %}"><a href="/blogs/popular/">Блоги</a></li>
                <li class="content-header-item {% if navigation == 'people' %}active{% endif %}"><a href="/people/">Люди</a></li>
                <li class="content-header-item {% if navigation == 'about' %}active{% endif %}"><a href="/about/">О проекте</a></li>

                <li class="content-header-item right-align-hack"><a href="/">Вход</a></li>
                <li class="content-header-item right-align-text"><a href="/">Регистрация</a></li>
            </ul>
        </nav>

        <div class="indent-needed">
            <div class="content-left" role="main">
                {% block content %}{% endblock %}
            </div>

            <div class="content-right">
                <div>
                    <div class="content content-header">
                        <p class="content-header-item">Популярные теги</p>
                    </div>

                    <div class="content height-300">

                    </div>
                </div>
                
                <div class="indent-needed">
                    <div class="content content-header">
                        <p class="content-header-item">Реклама</p>
                    </div>

                    <div class="content height-300">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
