{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=1024" name="viewport">
    <meta name="description" content="Collective blog">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="author" href="/humans.txt" />
</head>

<body>
    <div id="background"> </div>
    <nav class="content" role="navigation">
        <ul class="content-header">
            <li class="content-header-item {% if navigation == 'posts' %}active{% endif %}"><a href="/posts/hot/">Посты</a></li>
            <li class="content-header-item {% if navigation == 'blogs' %}active{% endif %}"><a href="/blogs/best/">Блоги</a></li>
            <li class="content-header-item {% if navigation == 'people' %}active{% endif %}"><a href="/people/">Люди</a></li>
            <li class="content-header-item {% if navigation == 'about' %}active{% endif %}"><a href="/about/">О проекте</a></li>

            <li class="content-header-item right-align-hack"><a href="/">Вход</a></li>
            <li class="content-header-item right-align-text"><a href="/">Регистрация</a></li>
        </ul>
    </nav>

    <div class="indent-needed">
        <div class="content-left" role="main">
            {% block content %}{% endblock %}
        </div>

        <div class="content-right">
            <div>
                <div class="content content-header">
                    <p class="content-header-item">Популярные теги</p>
                </div>

                <div class="content height-300">
                    <div class="table">
                        <div class="table-cell content-inner">
                            <p>Кот</p>
                            <p>Авто</p>
                            <p>Видио</p>
                            <p>Политика</p>
                            <p>История</p>
                            <p>Футбол</p>
                            <p>Подарок</p>
                            <p>Учеба</p>
                            <p>Спойлер</p>
                            <p>Полиция</p>
                            <p>Халява</p>
                            <p>Розыгрыш</p>
                            <p>Грусть</p>
                            <p>Посылка</p>
                        </div>

                        <div class="table-cell content-inner">
                            <div class="right-indent">
                                <p>Арт</p>
                                <p>Россия</p>
                                <p>Игры</p>
                                <p>Работа</p>
                                <p>Музыка</p>
                                <p>Аниме</p>
                                <p>Оружие</p>
                                <p>Алкоголь</p>
                                <p>Пятница</p>
                                <p>Проблема</p>
                                <p>Фейл</p>
                                <p>Добро</p>
                                <p>Поезд</p>
                                <p>Пляж</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="indent-needed">
                <div class="content content-header">
                    <p class="content-header-item">Реклама</p>
                </div>

                <div class="content height-300">
                </div>
            </div>
        </div>
    </div>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74981797-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
