{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=1024" name="viewport">
    <meta name="description" content="Collective blog">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="author" href="/humans.txt" />
</head>

<body>
    <div id="background"> </div>
    <nav class="content" role="navigation">
        <ul class="content-header">
            <li class="content-header-item {% if navigation == 'posts' %}active{% endif %}"><a href="/posts/new/">Posts</a></li>
            <li class="content-header-item {% if navigation == 'blogs' %}active{% endif %}"><a href="/blogs/best/">Blogs</a></li>
            <li class="content-header-item {% if navigation == 'people' %}active{% endif %}"><a href="/people/">People</a></li>
            <li class="content-header-item {% if navigation == 'about' %}active{% endif %}"><a href="/about/">About</a></li>

            <li class="content-header-item right-align-hack"><a href="/">Log in</a></li>
            <li class="content-header-item right-align-text"><a href="/">Register</a></li>
        </ul>
    </nav>

    <div class="indent-needed">
        <div class="content-left" role="main">
            {% block content %}{% endblock %}
        </div>

        <div class="content-right">
            <div>
                <div class="content content-header">
                    <p class="content-header-item">Popular tags</p>
                </div>

                <div class="content height-300">
                    <div class="table">
                        <div class="table-cell content-inner">
                            <p>Cat</p>
                            <p>Auto</p>
                            <p>Video</p>
                            <p>Politics</p>
                            <p>History</p>
                            <p>Football</p>
                            <p>Present</p>
                            <p>Studies</p>
                            <p>Sploiler</p>
                            <p>Police</p>
                            <p>Kek</p>
                            <p>Surprise</p>
                            <p>Sadness</p>
                            <p>Whatever</p>
                        </div>

                        <div class="table-cell content-inner">
                            <div class="right-indent">
                                <p>Art</p>
                                <p>Russia</p>
                                <p>Games</p>
                                <p>Work</p>
                                <p>Music</p>
                                <p>Anime</p>
                                <p>Weapon</p>
                                <p>Weekends</p>
                                <p>Luck</p>
                                <p>Problem</p>
                                <p>Fail</p>
                                <p>Good</p>
                                <p>Train</p>
                                <p>Beach</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="indent-needed">
                <div class="content content-header">
                    <p class="content-header-item">Best comments</p>
                </div>

                <div class="content height-300">
                </div>
            </div>

            <div class="indent-needed">
                <div class="content content-header">
                    <p class="content-header-item">You may like</p>
                </div>

                <div class="content height-300">
                </div>
            </div>

            <div class="indent-needed">
                <div class="content content-header">
                    <p class="content-header-item">Piece of info</p>
                </div>

                <div class="content height-300">
                </div>
            </div>

            <div class="indent-needed">
                <div class="content content-header">
                    <p class="content-header-item">Adverts</p>
                </div>

                <div class="content height-300">
                </div>
            </div>
        </div>
    </div>

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74981797-1', 'auto');
        ga('send', 'pageview');
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>
