{% extends "blog/base.html" %}
{% load static from staticfiles %}

{% block title %}Блоги{% endblock %}

{% block content %}

<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item {% if category == 'best' %}active{% endif %}"><a href="/blogs/best/">Лучшие</a></li>
        <li class="content-header-item {% if category == 'new' %}active{% endif %}"><a href="/blogs/new/">Новые</a></li>
        <li class="content-header-item {% if category == 'feed' %}active{% endif %}"><a href="/blogs/feed/">Подписки</a></li>
    </ul>
</nav>

<div class="content height-600 content-inner" id="blog_pool"></div> 

{% endblock %}

{% block scripts %}
<script defer src="{%  static 'js/loadData.js' %}"></script>
<script>
    window.onscroll = window.onload = function () { loadBlogs('{{category}}'); }
</script>
{% endblock %}
