{% extends "blog/base.html" %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}

<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item"><a href="/blogs/{{blog.id}}/">Overview</a></li>
        <li class="content-header-item"><a href="/blogs/{{blog.id}}/members/">Members</a></li>
        <li class="content-header-item active"><a href="/blogs/{{blog.id}}/publish/">Publish a post there!</a></li>
        {% if blog.creator.id == request.user.id %}
            <li class="content-header-item right-align-text"><a class="interest1" href="/blogs/{{blog.id}}/edit/"><b>Edit</b></a></li>
        {% endif %}
    </ul>
</nav>

<div class="content height-1660 content-inner">
    <div class="post">
        <div class="content-inner">
            <form id="publish-form" method="post" autocomplete="off" >
                {% csrf_token %}
                <input type="password" hidden />
                <table>
                    <tr>
                        <td><p>Title</p></td>
                        <td><input type="text" name="title" maxlength="100" /></td>
                        <td><p id="titleError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Tags</p></td>
                        <td><input type="text" name="tags" maxlength="200" placeholder="Tag1; Tag2; Tag3"/></td>
                        <td><p id="tagsError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p class="margin-top">Content</p></td>
                        <td><textarea class="margin-top" name="content" placeholder="Allowed tags set: <p>, <a>, <i>, <b>, <s>, <br/>, <img/>, <li>, <ul>, <ol>. Every piece of text should be inside <p> or <a> while <img/> and <br/> tags should have a closing slash." rows="20" cols="70"></textarea></td>
                    </tr>

                    <tr>
                        <td><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><input type="button" value="Publish" class="usual bold" onClick="publish();" /></td>
                        <td></td>
                        <td><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><p id="contentError" class="interest0"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var publishForm = document.getElementById("publish-form");
    var inputs = publishForm.getElementsByTagName("input");

    for (var i = 0; i < inputs.length; i += 1) {
        inputs[i].onkeypress = function (e) {
            if (e.keyCode == 13) {
                publish();
            }
        }
    }

    function publish() {
        $.ajax({
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            url: '/blogs/{{blog.id}}/publish/',
            data: new FormData($('#publish-form')[0]),
            success: function (response) {
                if (response.result == 'ok') {
                    window.location.href = response.message;
                } else {
                    var errors = ["titleError", "tagsError", "contentError" ];

                    for (var i = 0; i < errors.length; i += 1) {
                        if (response.result != errors[i]) {
                            $('#' + errors[i]).text("Ok");
                        } else {
                            $('#' + errors[i]).text(response.message);
                            for (var j = i + 1; j < errors.length; j += 1) {
                                $('#' + errors[j]).text("");
                            }

                            break;
                        }
                    }
                }
            }
        });
    }
</script>
{% endblock %}
