{% extends "blog/base.html" %}

{% block title %}Blog creation{% endblock %}

{% block content %}

<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item"><a href="/blogs/new/">New</a></li>
        <li class="content-header-item"><a href="/blogs/best/">Best</a></li>
        {% if user.is_authenticated %}
        <li class="content-header-item"><a href="/blogs/feed/">Feed</a></li>
        <li class="content-header-item active"><a href="/blogs/create/">Create</a></li>
        {% else %}
        <li class="content-header-item disabled">Feed</li>
        <li class="content-header-item disabled">Create</li>
        {% endif %}
    </ul>
</nav>

<div class="content height-1660 content-inner">
    <div class="post">
        <div class="content-inner">
            <form id="register-form" method="post" autocomplete="off" >
                {% csrf_token %}
                <input type="password" hidden />
                <table>
                    <tr>
                        <td><br /><p>Avatar</p></td>

                        <td>
                            <br />
                            <label for="file-input"><img src="/static/no_image.jpg" alt="avatar" width="120" height="120" class="margin-left" id="avatar" /></label>
                            <input id="file-input" type="file" name="avatar" class="hidden" onchange="readURL(this);" accept="image/*" />
                        </td>

                        <td>
                            <br /><p><b>Quick note:</b></p>
                            <p class="margin-top">1. The image size should not exceed <b class="interest0">500 KB</b></p>
                            <p>2. Do provide <b class="interest0">polite</b> image and blog description</p>
                            <p>3. Do not create a blog if a similar one <b class="interest0">exists</b></p>
                            <p>4. Use <b class="interest0">markdown</b> to write a description</p>
                            <p>5. You'll not get extra <b class="interest0">rating</b> for blogs</p>
                        </td>
                    </tr>

                    <tr>
                        <td><br /><p>Title</p></td>
                        <td><br /><input type="text" name="title" maxlength="100" /></td>
                        <td><br /><p id="titleError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p class="margin-top">Description</p></td>
                        <td><textarea class="margin-top" name="description" placeholder="Please, provide a vivid description. Allowed tags set: <p>, <a>, <i>, <b>, <s>, <br/>, <img/>, <li>, <ul>, <ol>. Every piece of text should be inside <p> or <a> while <img/> and <br/> tags should have a closing slash." rows="20" cols="70"></textarea></td>
                    </tr>

                    <tr>
                        <td><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><input type="button" value="Create" class="usual bold" onClick="register();" /></td>
                        <td></td>
                        <td><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><p id="descriptionError" class="interest0"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var registerForm = document.getElementById("register-form");
    var inputs = registerForm.getElementsByTagName("input");

    for (var i = 0; i < inputs.length; i += 1) {
        inputs[i].onkeypress = function (e) {
            if (e.keyCode == 13) {
                register();
            }
        }
    }

    function register() {
        $.ajax({
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            url: '/blogs/create/',
            data: new FormData($('#register-form')[0]),
            success: function (response) {
                if (response.result == 'ok') {
                    window.location.href = response.message;
                } else {
                    var errors = ["titleError", "descriptionError" ];

                    for (var i = 0; i < errors.length; i += 1) {
                        if (response.result != errors[i]) {
                            $('#' + errors[i]).text("Ok");
                        } else {
                            $('#' + errors[i]).text(response.message);
                            for (var j = i + 1; j < errors.length; j += 1) {
                                $('#' + errors[j]).text("");
                            }

                            break;
                        }
                    }
                }
            }
        });
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar').attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}
