{% extends "blog/base.html" %}

{% block title %}{% if category == 'hot' %}Горячее{% endif %}{% if category == 'new' %}Новое{% endif %}{% if category == 'best' %}Лучшее{% endif %}{% if category == 'feed' %}По подписке{% endif %}{% endblock %}

{% block content %}

<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item {% if category == 'hot' %}active{% endif %}"><a href="/posts/hot/">Горячее</a></li>
        <li class="content-header-item {% if category == 'new' %}active{% endif %}"><a href="/posts/new/">Новое</a></li>
        <li class="content-header-item {% if category == 'best' %}active{% endif %}"><a href="/posts/best/">Лучшее</a></li>
        <li class="content-header-item {% if category == 'feed' %}active{% endif %}"><a href="/posts/feed/">По подписке</a></li>
    </ul>
</nav>

<div class="content height-600 content-inner">
    <div class="post">
        <div class="content-inner">
            <h3>Lorem ipsum</h3>
            <p class="tiny">Опубликовал username в blogname n минут назад</p>
            <br />
            <img src="http://cs8.pikabu.ru/post_img/2016/02/29/8/145675136417113339.jpg" alt="Post image" />
            <br /><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>
            <a class="content-right right-align-text" href="/posts/1/">Читать далее... </a>
        </div>
    </div>

    <div class="post indent-needed">
        <div class="content-inner">
            <h3>Lorem ipsum</h3>
            <p class="tiny">Опубликовал username в blogname n минут назад</p>
            <br />
            <img src="https://habrastorage.org/files/acd/784/8b1/acd7848b1e53443f8d21d6b0a15fe296.jpg" alt="Post image" />
            <br /><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>
            <a class="content-right right-align-text" href="/posts/1/">Читать далее... </a>
        </div>
    </div>

    <div class="post indent-needed">
        <div class="content-inner">
            <h3>Lorem ipsum</h3>
            <p class="tiny">Опубликовал username в blogname n минут назад</p>
            <br />
            <img src="https://cs7060.vk.me/c540109/v540109437/292f2/U2r0BMeUnEc.jpg" alt="Post image" />
            <br /><br />
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
               Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
               Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum...</p>
            <a class="content-right right-align-text" href="/posts/1/">Читать далее... </a>
        </div>
    </div>
</div> 

{% endblock %}
