{% extends "blog/base.html" %}
{% load static from staticfiles %}

{% block title %}{% if category == 'new' %}New{% endif %}{% if category == 'best' %}Best{% endif %}{% if category == 'feed' %}Feed{% endif %}{% endblock %}

{% block content %}
<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item {% if category == 'new' %}active{% endif %}"><a href="/posts/new/">New</a></li>
        <li class="content-header-item {% if category == 'best' %}active{% endif %}"><a href="/posts/best/">Best</a></li>
        {% if user.is_authenticated %}
        <li class="content-header-item {% if category == 'feed' %}active{% endif %}"><a href="/posts/feed/">Feed</a></li>
        {% else %}
        <li class="content-header-item disabled">Feed</li>
        {% endif %}
    </ul>
</nav>

<div class="content height-600 content-inner" id="post_pool"></div>
{% endblock %}

{% block scripts %}
<script defer src="{%  static 'js/loadData.js' %}"></script>
<script>
    window.onscroll = window.onload = function () { loadPosts('{{category}}'); }
</script>
{% endblock %}
