{% extends "blog/base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

<nav class="content content-header" role="navigation">
    <ul>
        <li class="content-header-item active"><a href="/register/">Registration</a></li>
    </ul>
</nav>

<div class="content height-1660 content-inner">
    <div class="post">
        <div class="content-inner">
            <form id="register-form" method="post" autocomplete="off" >
                {% csrf_token %}
                <table>
                    <tr>
                        <td><br /><p>Avatar</p></td>

                        <td>
                            <br />
                            <label for="file-input"><img src="/static/no_image.jpg" alt="avatar" width="120" height="120" class="margin-left" id="avatar" /></label>
                            <input id="file-input" type="file" name="avatar" class="hidden" onchange="readURL(this);" accept="image/*" />
                        </td>

                        <td>
                            <br /><p><b>Quick note:</b></p>
                            <p class="margin-top">1. The image size should not exceed <b class="interest0">500 KB</b></p>
                            <p>2. Do provide <b class="interest0">polite</b> image and personal info</p>
                            <p>3. You'll not be able to <b class="interest0">change</b> a username</p>
                            <p>4. You can leave info and social nets fields <b class="interest0">empty</b></p>
                            <p>5. Your email will stay <b class="interest0">private</b></p>
                        </td>
                    </tr>

                    <tr>
                        <td><br /><p>Username</p></td>
                        <td><br /><input type="text" name="username" value=" " maxlength="20" required placeholder="0-9, A-Z, a-z, _" /></td>
                        <td><br /><p id="usernameError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Email</p></td>
                        <td><input type="text" name="email" maxlength="30" required placeholder="example@example.com" /></td>
                        <td><p id="emailError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>First name</p></td>
                        <td><input type="text" name="firstname" maxlength="20" required placeholder="A-Z, a-z" /></td>
                        <td><p id="firstnameError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Last name</p></td>
                        <td><input type="text" name="lastname" maxlength="20" required placeholder="A-Z, a-z" /></td>
                        <td><p id="lastnameError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Password</p></td>
                        <td><input type="password" name="password" maxlength="30" required /></td>
                        <td><p id="passwordError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Verify Password</p></td>
                        <td><input type="password" name="password_repeat" maxlength="30" required /></td>
                        <td><p id="password_repeatError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><br /><h1>Personal info</h1></td>
                    </tr>

                    <tr>
                        <td><p>Date of birth:</p></td>
                        <td><input type="text" name="birth" maxlength="10" placeholder="2016-01-31" /></td>
                        <td><p id="birthError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Gender:</p></td>
                        <td><input type="text" name="gender" maxlength="6" placeholder='"Male" or "Female"' /></td>
                        <td><p id="genderError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Country:</p></td>
                        <td><input type="text" name="country" maxlength="20" placeholder="A-Z, a-z" /></td>
                        <td><p id="countryError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>City:</p></td>
                        <td><input type="text" name="city" maxlength="20" placeholder="A-Z, a-z" /></td>
                        <td><p id="cityError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><br /><h1>Social networks</h1></td>
                    </tr>
                
                    <tr>
                        <td><p>Facebook:</p></td>
                        <td><input type="text" name="facebook" maxlength="50" placeholder="https://www.facebook.com/..." /></td>
                        <td><p id="facebookError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Twitter:</p></td>
                        <td><input type="text" name="twitter" maxlength="50" placeholder="https://www.twitter.com/..." /></td>
                        <td><p id="twitterError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><p>Vk:</p></td>
                        <td><input type="text" name="vk" maxlength="50" placeholder="https://www.vk.com/..." /></td>
                        <td><p id="vkError" class="interest0"></p></td>
                    </tr>

                    <tr>
                        <td><br /><input type="button" value="Register" class="usual bold" onClick="register();" /></td>
                        <td></td><td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    var registerForm = document.getElementById("register-form");
    var inputs = registerForm.getElementsByTagName("input");

    for (var i = 0; i < inputs.length; i += 1) {
        inputs[i].onkeypress = function (e) {
            if (e.keyCode == 13) {
                register();
            }
        }
    }

    function register() {
        $.ajax({
            dataType: "json",
            type: "POST",
            contentType: false,
            processData: false,
            url: '/register/',
            data: new FormData($('#register-form')[0]),
            success: function (response) {
                if (response.result == 'ok') {
                    window.location = '/posts/new/';
                } else {
                    var errors = ["usernameError", "emailError", "firstnameError", "lastnameError", "passwordError", "password_repeatError",
                        "birthError", "genderError", "countryError", "cityError", "facebookError", "twitterError", "vkError"];

                    for (var i = 0; i < errors.length; i += 1) {
                        if (response.result != errors[i]) {
                            $('#' + errors[i]).text("Ok");
                        } else {
                            $('#' + errors[i]).text(response.message);
                            for (var j = i + 1; j < errors.length; j += 1) {
                                $('#' + errors[j]).text("");
                            }

                            break;
                        }
                    }
                }
            }
        });
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar').attr('src', e.target.result)
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    window.onload = function () {
        setTimeout(function () {
            $('[name="username"]').val("");
        }, 1);
    };
</script>
{% endblock %}
