{% extends "blog/base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block content %}

<div class="content content-header" role="navigation">
    <p class="content-header-item">404</p>
</div>

<div class="content height-600">
    <p class="content-inner">
        К сожалению, нам не удалось найти страницу, которую вы искали. Возможно она была удалена, навсегда перемещена на новый адрес или не существовала вовсе.
        Используйте панель навигации для возврата на главную страницу.
    </p>
</div>

{% endblock %}
