{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Collective blog">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

<body>
    <div>
        <nav class="content" role="navigation">
            <ul class="navbar-menu">
                <li class="navbar-item {% if navigation == 'posts' %}active{% endif %}"><a href="/posts">Посты</a></li>
                <li class="navbar-item {% if navigation == 'blogs' %}active{% endif %}"><a href="/blogs">Блоги</a></li>
                <li class="navbar-item {% if navigation == 'people' %}active{% endif %}"><a href="/people">Люди</a></li>
                <li class="navbar-item {% if navigation == 'about' %}active{% endif %}"><a href="/about">О проекте</a></li>
            </ul>
        </nav>

        <div class="indent-needed">
            <div class="content-left">
                {% block content %}{% endblock %}
            </div>

            <div class="content-right">
                <div>
                    <div class="content content-name">
                        <h3 class="navbar-item">
                            Популярные теги
                        </h3>
                    </div>

                    <div class="content height-300">

                    </div>
                </div>
                
                <div class="indent-needed">
                    <div class="content content-name">
                        <h3 class="navbar-item">
                            Реклама
                        </h3>
                    </div>

                    <div class="content height-300">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
