/* ------------------------------------------------------------ */
/* ----------------------- MAIN STYLES ------------------------ */

* {
    text-decoration: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", cursive, sans-serif;
    font-size: 16px;
    
    width: 1024px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: #464646;
}

.background {
    position: fixed;
    
    width: 100%;
    height: 125%;
    
    top: 0;
    left: 0;
    
    z-index: -1;
    
    background: url(../background.jpg) no-repeat;
    background-size: cover;
}

img {
    max-width: 650px;
}

td {
    white-space: nowrap;
}

/* ------------------------------------------------------------ */
/* ----------------------- FONTS ------------------------------ */

h1, h2, h3 {
    font-size: 16px;
    
    color: #ffffff;
    background: url('');
}

.tiny {
    font-size: 10px;
    margin-top: 5px;
}

p, h1 a, h2 a, h3 a {
    color: #ffffff;
    background: url('');
}

a, .nointerest, input[type="button"] {
    color: #aaaaaa;
}

.active>a, a:focus, a:hover, .active>input[type="button"], input[type="button"]:focus, input[type="button"]:hover {
    color: #ffffff;
}

.usual {
    color: #ffffff!important;
}

.bold {
    font-weight: bold!important;
}

.disabled {
    color: #666666!important;
}

.interest0 {
    color: #ff0000!important;
}

.interest1 {
    color: #ff2a00!important;
}

.interest2 {
    color: #ff3b00!important;
}

.interest3 {
    color: #ff4c00!important;
}

.interest4 {
    color: #ff5d00!important;
}

.interest5 {
    color: #ff6e00!important;
}

/* ------------------------------------------------------------ */
/* ----------------------- CONTENT FLOW ----------------------- */

.content-header {
    padding: 0 20px 0 20px;
}

.content {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    
    margin: 0 15px 0 15px;
}

.content-inner {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
}

.content-left {
    float: left;
    width: 75%;
}

.content-right {
    float: right;
    width: 25%;
}

.table, .content-header {
    display: table;
}

.content-header-item {
    vertical-align: middle;
    min-width: 120px;
    height: 30px;
}

.table-cell, .content-header-item {
    display: table-cell;
}

.content-right .content-header-item {
    min-width: 150px;    
    text-align: center;
}

.content-right .content-header {
    margin-left: auto;
}

.center-caption {
    text-align: center;
    margin-bottom: 5px;
}

/* ------------------------------------------------------------ */
/* ----------------------- HACKS ------------------------------ */

.height-300 {
    min-height: 300px;
}

.height-1660 {
    min-height: 1660px;
}

.right-align-hack {
    width: 100500px;
}

.right-indent {
    padding-left: 30px;
}

.right-align-text, .right-align-hack {
    text-align: right;
    padding-right: 20px;
}

.margin-bottom, .content-inner {
    margin-bottom: 15px;
}

.margin-left {
    margin-left: 20px;
}

.margin-top {
    margin-top: 5px;
}

.margin-right {
    margin-right: 10px;
}

.hidden {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

/* ------------------------------------------------------------ */
/* ----------------------- GOOD STAFF ------------------------- */

hr {
    border-color: #333333;
}

.vote {
    display: block;
    margin-right: 5px;
    margin-top: 4px;
}

blockquote {
    margin: 15px;
    font-style: italic;
}

/* ------------------------------------------------------------ */
/* ----------------------- LOGIN FORM ------------------------- */

.modal, .modal-login-content {
    display: none;
    z-index: 1;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    background-color: #000;
    background-color: rgba(0,0,0,0.6);
    
    animation-name: fadeout;
    animation-duration: 0.3s;
}

.modal-login-content {
    position: absolute;
    
    background-color: #000;
    background-color: rgba(0,0,0,0.8);
    
    box-shadow: 0 0 1pt 1pt red;
    
    margin: -10px 0 0 625px;
    padding: 10px;
    width: 342px;
    
    animation-name: fadeout;
    animation-duration: 0.5s;
}

.login-confirm {
    margin-left: 70%;
}

.login-incorrect {
    position: absolute;
    display: none;
}

/* ------------------------------------------------------------ */
/* ----------------------- INPUT FIELDS ----------------------- */

input[type="text"], input[type="password"], select {
    margin-left: 20px;
    margin-right: 20px;
    
    font-family: "Open Sans", cursive, sans-serif;
    font-size: 14px;
    
    padding-left: 10px;
    padding-right: 10px;
    
    border: solid 0;
    border-radius: 8px;
    
    transition: box-shadow 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}

input[type="button"] {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
}

input[type="image"] {
    outline: none;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #fff inset;
}

/* ------------------------------------------------------------ */
/* ----------------------- ANIMATIONS ------------------------- */

@keyframes fadeout {
    from {opacity: 0}
    to {opacity: 1}
}
