body {
    font-family: "Open Sans", cursive, sans-serif;
    font-size: 16px;
    
    width: 1024px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: #464646;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    z-index: -1;
    
    background: url(../background.jpg) no-repeat;
    background-size: cover;
}

img {
    max-width: 650px;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 15px 0 15px;
}

* {
    text-decoration: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.indent-needed {
    margin-top: 15px;
}

.height-300 {
    min-height: 300px;
}

.height-600 {
    min-height: 1660px;
}

.content-left {
    float: left;
    width: 75%;
}

.content-right {
    float: right;
    width: 25%;
}

.right-align-hack {
    width: 100500px;
    padding-right: 20px;
}

.right-indent {
    padding-left: 50px;
}

.right-align-text, .right-align-hack {
    text-align: right;
    padding-right: 20px;
}

td {
    white-space: nowrap;
}

.center-caption {
    text-align: center;
    margin-bottom: 5px;
}

.content-header {
    padding: 0 20px 0 20px;
}

.table, .content-header {
    display: table;
}

.content-header-item {
    vertical-align: middle;
    min-width: 120px;
    height: 30px;
}

.table-cell, .content-header-item {
    display: table-cell;
}

.content-right .content-header-item {
    min-width: 150px;    
    text-align: center;
}

.content-right .content-header {
    margin-left: auto;
}

.content-inner {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

p, h1, h2, h3, h1 a, h2 a, h3 a {
    color: #ffffff;
    background: url('');
}

a, .nointerest, input[type="button"] {
    color: #aaaaaa;
}

.disabled {
    color: #666666;
}

.interest0 {
    color: #ff0000;
}

.interest1 {
    color: #ff2a00;
}

.interest2 {
    color: #ff3b00;
}

.interest3 {
    color: #ff4c00;
}

.interest4 {
    color: #ff5d00;
}

.interest5 {
    color: #ff6e00;
}

hr {
    border-color: #333333;
}

.tiny {
    font-size: 10px;
    margin-top: 5px;
}

h1 {
    font-size: 16px;
}

.active>a, a:focus, a:hover, .active>input[type="button"], input[type="button"]:focus, input[type="button"]:hover {
    color: #ffffff;
}

.vote {
    display: block;
    margin-right: 5px;
    margin-top: 4px;
}

.login-confirm {
    margin-left: 74%;
}

.login-incorrect {
    position: absolute;
    display: none;
}

input[type="button"] {
    background: none;
    border: none;
    display: inline;
    font: inherit;
    outline: none;
    outline-offset: 0;
    cursor: pointer;
}

.modal, .modal-login-content {
    display: none;
    z-index: 1;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    
    animation-name: fadeout;
    animation-duration: 0.3s;
}

.modal-login-content {
    position: absolute;
    
    background-color: rgba(0,0,0,0.8);
    border: 1px solid #ff2a00;
    margin: 5px 0 0 625px;
    padding: 10px;
    width: 342px;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: fadeout;
    animation-duration: 0.5s;
}

@keyframes fadeout {
    from {opacity: 0}
    to {opacity: 1}
}

input[type="text"], input[type="password"] {
    margin-left: 20px;
    
    font-family: "Open Sans", cursive, sans-serif;
    font-size: 14px;
    
    padding-left: 10px;
    
    border: solid 0px #fff;
    border-radius: 25px;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
