html {
    background: url(../background.jpg) no-repeat fixed;
    background-size: cover;
    
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    min-width: 1024px;
}

.content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0 15px 0 15px;
}

* {
    text-decoration: none;
    vertical-align: top;
    padding: 0;
    margin: 0;
}

.indent-needed {
    margin-top: 15px;
}

.height-300 {
    min-height: 300px;
}

.height-600 {
    min-height: 615px;
}

.content-left {
    float: left;
    width: 75%;
}

.content-right {
    float: right;
    width: 25%;
}

.right-align-hack {
    width: 890px;
    padding-right: 20px;
}

.right-align-text, .right-align-hack {
    text-align: right;
}

.content-header {
    display: table;
    padding: 0 20px 0 20px;
}

.content-header-item {
    display: table-cell;
    vertical-align: middle;
    min-width: 120px;
    height: 30px;
}

.content-right .content-header-item {
    min-width: 150px;    
    text-align: center;
}

.content-right .content-header {
    margin-left: auto;
}

.content-inner {
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.post, .post img {
    border: 2px solid green;
    border-radius: 10px;
}

p, h1, h2, h3, a {
    color: #ffffff;
}

.tiny {
    font-size: 10px;
}

h3 {
    font-size: 16px;
}

.active>a, a:focus, a:hover {
    color: #00ff00;
}
