body {
    background-color: #202020;
    
    min-width: 1024px;
    min-height: 100%;
    
    text-align: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    
    position: relative;
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: #000000;
    border-color: #000000;

    margin-left: 15px;
    margin-right: 15px;
}

.navbar-second {
    margin-top: 15px;
}

.navbar-menu {
    display: table;
    padding-left: 20px;
}

.navbar-item {
    display: table-cell;
    vertical-align: middle;
    
    min-width: 90px;
    height: 30px;
}

.navbar * {
    margin-left: initial;
    margin-right: initial;
    margin-top: initial;
}

.two-third-width {
    width: 66%;
}

a {
    color: #666666;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #ffffff;
}

.active>a,
.active>a:focus,
.active>a:hover {
    color: #00ff00;
}
